<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Avaliação Formadora - Competência 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Avaliação Formadora - Competência 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="background">
    <ion-card class="card">
      <img alt="Meu placeholder" src="../../assets/perfil.enc" />
      <ion-card-header>
        <ion-card-title>Felipe Guedes</ion-card-title>
        <ion-card-subtitle>Turma: ADS0301N | Matricula: 22107881</ion-card-subtitle>
        </ion-card-header>
    
      <ion-card-content>
        Aluno de Análise e Desenvolvimento de Sistemas na UNISUAM
      </ion-card-content>
    </ion-card>
   
  </div>
</ion-content>